# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# IDE
# =========================
.idea/
.vscode/
.DS_Store

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime / cache
# =========================
runtime/
cache/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Env
# =========================
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/